<div class="fullPage vh">

    <div class="login_Create_widget">

        <div class="logoLogin">
            <img src="assets/logo.svg" alt="">
        </div>
        <div class="titleLogin_create">
            <h2>Sign Up</h2>
        </div>
        <div class="input_group_two">
            <div class="input_group">
                <label>First Name</label>
                <input type="text" placeholder="First Name">
            </div>
            <div class="input_group">
                <label>Last Name</label>
                <input type="text" placeholder="Last Name">
            </div>
        </div>
        <div class="input_group error">
            <label>Phone Number</label>
            <input type="text" placeholder="Phone Number">
            <span class="required">Email format invalid</span>
        </div>
        <div class="input_group">
            <label>Email address</label>
            <input type="text" placeholder="Email address" class="s">
        </div>
        <div class="input_group">
            <label>Password</label>
            <input type="password" placeholder="Password">
            <img class="eyesPassword" src="assets/eye_icon.svg" alt="">
        </div>
        <div class="button_gruop_Login">
            <button class="btn back_primary"  (click)="navigateToSignUp()">Sign Up</button>
        </div>
        <div class="newuser">
            <p>I'm already a member <a href="/SignIn">Sign In </a></p>
        </div>

    </div>


</div>