<div class="fullPage ">
    <div class="bodyPage">
        <div class="wagon_Inform pt-4">
           <div class="mainPhoto">
               <img src="assets/uploadPhoto.svg" alt="">
               <p>Upload image at least 3 images</p>
           </div>
           <div class="info_item">
               <img src="assets/info.svg" alt="">
               <p>wagon information</p>
           </div>
           <hr>
           <div class="item_inform">
               <p>Country</p>
               <div class="edit_item_inform">
                   <span>Egypt</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>
           <div class="item_inform">
               <p>city</p>
               <div class="edit_item_inform">
                   <span>cairo</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>
           <div class="item_inform">
               <p>Make</p>
               <div class="edit_item_inform">
                   <span>BMW</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>
           <div class="item_inform">
               <p>Model</p>
               <div class="edit_item_inform">
                   <span>X3</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>
           <div class="item_inform">
               <p>body type</p>
               <div class="edit_item_inform">
                   <span>SUV</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>
           <div class="item_inform">
               <p>Milage</p>
               <div class="edit_item_inform">
                   <span>Egypt</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>
           <div class="item_inform">
               <p>Year</p>
               <div class="edit_item_inform">
                   <span>2015</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>
           <div class="item_inform">
               <p>color</p>
               <div class="edit_item_inform">
                   <span>blue</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>
           <div class="item_inform">
               <p>price</p>
               <div class="edit_item_inform">
                   <span>25,000.00</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>
           <div class="info_item">
               <img src="assets/info.svg" alt="">
               <p>seller Detalis</p>
           </div>
           <hr>

           <div class="item_inform">
               <p>name</p>
               <div class="edit_item_inform">
                   <span>Ali XWZY</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>
           <div class="item_inform">
               <p>Phone Number</p>
               <div class="edit_item_inform">
                   <span>01123456789</span>
                   <img src="assets/arrowSell.svg" alt="">
               </div>
           </div>

           <div class="btnFillter">
               <button (click)="goto('/cardetails')">Next</button>
           </div>
    </div>
</div>

</div>