
<div class="detailsItem_container">
    <app-head-car-details></app-head-car-details>
      <app-slide-car-details></app-slide-car-details> 
    <div class="details_Item">
         <h2>Nissan Sunny 1.5 </h2>
         <app-carinfo-to-sellerinfo></app-carinfo-to-sellerinfo>
         <div class="detailsType">
                 <div class="detailsType_item">
                     <img src="assets/check.svg">
                     <p>year :</p>
                     <span>2018</span>
                 </div>
                 <div class="detailsType_item">
                     <img src="assets/check.svg">
                     <p>Mileage :</p>
                     <span>50,000</span>
                 </div>
                 <div class="detailsType_item">
                     <img src="assets/check.svg">
                     <p>Fuel :</p>
                     <span>gaz</span>
                 </div>
                 <div class="detailsType_item">
                     <img src="assets/check.svg">
                     <p>Engine :</p>
                     <span>1561 cm3</span>
                 </div>
                 <div class="detailsType_item">
                     <img src="assets/check.svg">
                     <p>Transmission :</p>
                     <span>manual</span>
                 </div>
                 <div class="detailsType_item">
                     <img src="assets/check.svg">
                     <p>Color :</p>
                     <span>red</span>
                 </div>
                 <div class="detailsType_item">
                     <img src="assets/check.svg">
                     <p>HorsePower :</p>
                     <span>135</span>
                 </div>
         </div>
         <div class="info_item">
                <img src="assets/info.svg" alt="">
                <p>No Color Change</p>
         </div>
         <div class="info_item">
                <img src="assets/info.svg" alt="">
                <p>No recorded as stolen</p>
         </div>
         <div class="btn_details">
             <button class="btnType"> 
               <img src="assets/heart (1).svg" alt=""> 
               Add to Favorite
             </button>
             <button class="btnType"> 
               <img src="assets/compare.svg" alt=""> 
               Add to Compare
             </button>
         </div>
      </div>
</div>
