<div class="fullPage ">
    <div class="bodyPage">
        <div class="container_tab">
            <div class="tabs">
                <input type="radio" id="radio-1" name="tabs" checked />
                <label class="tab" for="radio-1" (click) = "navigateTo('/Listdelars')">List View</label>
                <input type="radio" id="radio-2" name="tabs" />
                <label class="tab" for="radio-2" (click) = "navigateTo('/MapDealers')">Map View</label>
                <span class="glider"></span>
            </div>
        </div>
    </div>
</div>




