<app-header-compere></app-header-compere>




<div class="bodyPage">
    <div class="table_Compare">
        <div class="itemCompare">
            <div class="img_ItemCompare">
                <img src="assets/productCar.png" alt="">
            </div>
            <div class="detilsItem_compare">
                <p>BMW</p>
            </div>
            <div class="detilsItem_compare">
                <p>250,000 $</p>
            </div>
            <div class="detilsItem_compare">
                <p>2015</p>
            </div>
            <div class="detilsItem_compare">
                <p>120,00 KM</p>
            </div>
            <div class="detilsItem_compare">
                <p>Gas</p>
            </div>
            <div class="detilsItem_compare">
                <p>1651</p>
            </div>
            <div class="detilsItem_compare">
                <p>150</p>
            </div>
            <div class="detilsItem_compare">
                <p>auto</p>
            </div>
            <div class="detilsItem_compare">
                <p>black</p>
            </div>
        </div>
        <div class="typeItem_compare">
            <div class="detilsItem_compare_type">
                <p>Type</p>
            </div>
            <div class="detilsItem_compare_type">
                <p>Price</p>
            </div>
            <div class="detilsItem_compare_type">
                <p>Year</p>
            </div>
            <div class="detilsItem_compare_type">
                <p>Mileage</p>
            </div>
            <div class="detilsItem_compare_type">
                <p>Fuel</p>
            </div>
            <div class="detilsItem_compare_type">
                <p>Engine</p>
            </div>
            <div class="detilsItem_compare_type">
                <p>HorsePower</p>
            </div>
            <div class="detilsItem_compare_type">
                <p>Transmission</p>
            </div>
            <div class="detilsItem_compare_type">
                <p>Color</p>
            </div>
        </div>
        <div class="itemCompare">
            <div class="img_ItemCompare">
                <img src="assets/productCar.png" alt="">
            </div>
            <div class="detilsItem_compare">
                <p>BMW</p>
            </div>
            <div class="detilsItem_compare">
                <p>250,000 $</p>
            </div>
            <div class="detilsItem_compare">
                <p>2015</p>
            </div>
            <div class="detilsItem_compare">
                <p>120,00 KM</p>
            </div>
            <div class="detilsItem_compare">
                <p>Gas</p>
            </div>
            <div class="detilsItem_compare">
                <p>1651</p>
            </div>
            <div class="detilsItem_compare">
                <p>150</p>
            </div>
            <div class="detilsItem_compare">
                <p>auto</p>
            </div>
            <div class="detilsItem_compare">
                <p>black</p>
            </div>
        </div>
    </div>
</div>
