<div class="fullPage ">
<div class="bodyPage noFooter">

<div class="container_DataBox">
    <div class="item_tapsBox">
        <img src="assets/car.svg" alt="Image">
        <p>Car</p>
    </div>
    <div class="item_tapsBox">
        <img src="assets/motor.svg" alt="Image">
        <p>Car</p>
    </div>
    <div class="item_tapsBox">
        <img src="assets/truck.svg" alt="Image">
        <p>Car</p>
    </div>
    <div class="item_tapsBox">
        <img src="assets/bus.svg" alt="Image">
        <p>Car</p>
    </div>
    <div class="item_tapsBox">
        <img src="assets/farm.svg" alt="Image">
        <p>Car</p>
    </div>
    <div class="item_tapsBox">
        <img src="assets/car.svg" alt="Image">
        <p>Car</p>
    </div>
    <div class="item_tapsBox">
        <img src="assets/car.svg" alt="Image">
        <p>Car</p>
    </div>
</div>
</div>
</div>
