<div class="fullPage vh">

    <div class="intro_widget">

        <div class="logointro">
            <img src="assets/logo.svg" alt="">
        </div>
        <div class="textLogin">
            <p>Best Way to Buy or rent a vehicle !</p>
        </div>

        <div class="button_gruop_intro">
            <button class="btn back_primary signIn" (click)="navigateToSignIn()">Sign In</button>
            <button class="btn signUpBtn"  (click)="navigateToSignup()">Sign Up</button>
        </div>
        <div class="changeLang">
           
            <a href="#" class="Ch_lan active">English</a> /
            <a href="#" class="Ch_lan">العربية</a>
        </div>
    </div>


</div>