<div class="fullPage vh">
    <div class="login_Create_widget">
        <div class="logoLogin">
            <img src="assets/logo.svg" alt="">
        </div>
        <div class="titleLogin_create">
            <h2>Forget password</h2>
        </div>
        <div class="welcome">
            <p>Enter The Email Associated With Your Wagon.Com Profile To Receive An Email To Reset Your Password</p>
        </div>
        <div class="input_group">
            <label>Email address</label>
            <input type="text" placeholder="Email address">
        </div>
        <div class="button_gruop_Login">
            <button class="btn back_primary">Submit</button>
        </div>
    </div>
</div>